<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
tinymce.init({
    selector: "textarea"
 });
</script>

<div class="newStory container">
	<form action="/story/update/<%-story.id%>" method="POST" class="form-signin" role="form">
		<input type="text" class="form-control titleInput" placeholder="title" name="title" value="<%= story.title %>">
		
		<textarea class="form-control" rows="25" name="body"><%- story.body %></textarea>

		<input type="text" class="form-control tagInput" placeholder="Image URI" name="images" value="<% _.each(story.images , function(src){ %><%- src %>,<% }) %>">

		<input type="text" class="form-control tagInput" placeholder="Video URI" name="videos">

		<input type="text" class="form-control tagInput" placeholder="tags" name="tags" value="<% _.each(story.tags , function(tag){ %><%- tag %> <% if(story.tags.indexOf(tag) < (story.tags.length - 1)) {%>,<%}%> <% }) %>">

		<input class="btn btn-lg btn-primary btn-block postStory" type="submit" value="Post Changes">
		
	    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div> 